<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnoReg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EnoReg.Properties.Settings>
            <setting name="ConexionDB" serializeAs="String">
                <value>SERVER=localhost;DATABASE=bodega;UID=root;PASSWORD=;</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Bahnschrift, 12pt</value>
            </setting>
            <setting name="ColorLetra" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="ColorFondo" serializeAs="String">
                <value>HighlightText</value>
            </setting>
        </EnoReg.Properties.Settings>
    </userSettings>
</configuration>